

body{
	font-size: 17px;
}

.container {
	min-height: 80vH;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1px solid transparent;

}

.category-thumbnail img {
	height: 215px;
	width: 100%;
}

.alignnone {
	margin: 0 20px 20px 0;
}

.entry img {
	height: 215px;
	width: 100%;
}

.hr{
	margin-top: 50px;
}

.alignnone {
	float: left;
}

.titl{
	margin-left:15px;
	margin-bottom:25px;
}

.titl h2{
	font-size: 40px;

}
.weiterlesen{
	float:right;
}
.zurück{
	margin-top: 20px;
}

.row{
	margin-top: 35px;
	margin-bottom: 35px;
}

.navbar.navbar-default{
	padding-top: 15px;
	padding-bottom:15px;
	font-size:20px; 
}

.pagination{
	float:right;
}

.footer {
	height:70px;
	text-align: center;
	padding-top: 15px;
	background-color: #f8f8f8;
}

.pull-right{
	padding-right: 10vH;
}






